.logo
{
    width:50px;
    position: relative;
}

.menu-btn
{
   background-color: #E0E0E0;
   border:none;
   color:#7d7b7b;
   border-color: #6d6a6a; 
   font-size: 20px;
   cursor: pointer;
   margin-right:0px;
   resize:none;
   transition-duration: 0.2s;
   display:inline-block;
   
}

.menu-btn:hover{
    color: #000000;
    box-shadow: #8d8b8b;
}
.riologo{
    width:300px;
    margin-right:auto;
    float:center;
    display: block;
    margin-left: auto;
}
.div{
    float:center;
    width:calc(100%-300px-(600px));
}
.content
{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 1px solid #4f4d4d;
    width: 50%;
    float: right;
}

.dropbtn {
    background-color:#E0E0E0 ;
    padding: 16px;
    border:none;
    color:#7d7b7b;
    border-color: #6d6a6a; 
    font-size: 20px;
    cursor: pointer;
    margin-right:0px;
    resize:none;
    transition-duration: 0.2s;
    white-space: nowrap;
   text-align: center;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    white-space: nowrap;
  }
  
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {color:#000000;}

  @media screen and (max-width: 600px) {
    .dropbtn,.menu-btn,content,.athlete-content {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }
  section#search {
    text-align: center;
    padding-top: 10px;
}

section#search label {
    display: block;
    margin-bottom: 10px;
}

section#search input[type="text"] {
    padding: 10px;
    font-size: 18px;
    width: 50%;
}

section#search input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.athlete-photo{
    border-radius:50%;
    width:150px;
    padding:0px;
}
.icon{
    border:none;
    width:150px;
    font-size:20px;
    border-radius: 50%;
    margin: 100px;
    padding:0px;
    appearance: none;
    background-color: inherit;  
    cursor: pointer;
    transition: transform 0.2s ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.icon:hover{
    transform: scale(1.1);
    box-shadow: rgb(181, 180, 180);
}
.mainphoto{
    border-radius:50px;
    margin-top: 10px;
}
.heading
{
    font-size: 100px;
    margin-top: 0px;
    padding-left: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bolder;
}
.heading-photo{
    display: flex;
  align-items: center;
  justify-content: center;
}
.table-bordered
{
    float:center;
    width:calc(100%-300px-(600px));
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
}
/* .table-bordered tr:nth-child(odd)
            {
            border: 1px solid #000000;
            background-color: #deffe1;
            } */
.athlete-info{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align:justify;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 31px;
    color:#343434;
}
.info{
    display: flex;
  align-items: center;
  justify-content: center;
}







