.logo
{
    width:150px;
    position: relative;
}

.menu-btn
{
   background-color: #E0E0E0;
   border:none;
   color:#7d7b7b;
   border-color: #6d6a6a; 
   font-size: 20px;
   cursor: pointer;
   margin-right:0px;
   resize:none;
   transition-duration: 0.2s;
}

.menu-btn:hover{
    color: #000000;
    box-shadow: #8d8b8b;
}
.riologo{
    width:300px;
    margin-right:auto;
    float:center;
    display: block;
    margin-left: auto;
}
.div{
    float:center;
    width:calc(100%-300px-(600px));
}
.content
{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width:100%;
    border: 1px solid #000000;
}
.th,td{
    border: 1px solid #000000;
    text-align: center;
    padding: 8px;
}
tr:nth-child(odd)
{
    border: 1px solid #000000;
    background-color: #F5F5F5;
}

.dropbtn {
    background-color:#E0E0E0 ;
    padding: 16px;
    border:none;
    color:#7d7b7b;
    border-color: #6d6a6a; 
    font-size: 20px;
    cursor: pointer;
    margin-right:0px;
    resize:none;
    transition-duration: 0.2s;
    white-space: nowrap;
   text-align: center;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    white-space: nowrap;
  }
  
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {color:#000000;}

  @media screen and (max-width: 600px) {
    .dropbtn,.menu-btn {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }
  section#search {
    text-align: center;
    padding-top: 10px;
}

section#search label {
    display: block;
    margin-bottom: 10px;
}

section#search input[type="text"] {
    padding: 10px;
    font-size: 18px;
    width: 50%;
}

section#search input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.athlete-photo{
    border-radius:50%;
    width:150px;
    padding:0px;
}
.icon{
    border:none;
    width:150px;
    font-size:20px;
    border-radius: 50%;
    margin: 100px;
    padding:0px;
    appearance: none;
    background-color: inherit;  
    cursor: pointer;
    transition: transform 0.2s ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.icon:hover{
    transform: scale(1.1);
    box-shadow: rgb(181, 180, 180);
}
.nws1{
    position:absolute;
    height:350px;
    width:450px;
    /* left:25%; */
}
/* .card-img-top{
    height: 10px;
    width: 10px;
    left:25%;
} */
.nws1:hover{
    transform:scale(1.2);
    box-shadow: white;
}
.class-body{
    position:absolute;
    height: 150px;
    width:100;
}
.nws2{
    position:absolute;
    height:350px;
    width:500px;
    right:25%; 
}
.nws2:hover{
    transform:scale(1.2);
    box-shadow: white;
}
.nws3{
    position:absolute;
    height: 200px;
    width:350px;
    bottom:0%; 
}
.nws3:hover{
    transform:scale(1.2);
    box-shadow: white;
}
.nws4{
    position:absolute;
    height: 200px;
    width:350px;
    bottom:0%;
    right:30%; 
}
.nws4:hover{
    transform:scale(1.2);
    box-shadow: white;
}
.sky{
    position:absolute;
    height:300px;
    width:300px;
    left:0%;
}
/* .sky img{
    width:100%;
    display:block;
}  */
/* .one img{
    width:100%;
} */
.sky.img:hover{
    transform:scale(1.2);
    box-shadow: white;
}
.one{
    position:absolute;
    bottom:5px;
    left:5px;
    font-size:25px;
}
.hockey{
    position:absolute;
    height:250px;
    width:250px;
    /* top:25%;
    right:30%; */
}
/* .hockey img{
     width:100px;
     height:150px;
     left:25%;
     bottom:25%;
} */
/* .two{
    position:absolute;
    bottom:25px;
    left:25px;
    font-size:25px;
} */

.kabadi{
    position:absolute;
    height:300px;
    width:300px;

}
.badminton{
    position:absolute;
    height:300px;
     width:300px; 
}

.teamusa{
    position:absolute;
    height:300px;
    width:300px;
}
.listofwinners{
    position:absolute;
    height:300px;
    width:300px;

}
.boxing{
    position:absolute;
    height:300px;
    width:300px;

}
.wrestling{
    position:absolute;
    height:300px;
    width:300px;  
}
.news{
    width:150px;
    height:150px;
    margin: 100px;
    padding:0px;
    transition: transform 0.2s ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.racket{
    height:250px;
    width:250px;
}
.block{
    text-align: justify;
    
}
.footfall{
padding:5px;
align-items: center;
}

.btn{
    background:none;
    border:2px solid #000;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    padding:2px 4px;
    cursor: pointer;
    transition:colour 0.4s linear;
    position:relative;
    font-size: medium;
}

.btn:hover{
    color:#fff;

}
.btn::before{
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:#000;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
.btn1::before{
    transform:scalex(0);
}
.btn1:hover::before{
    transform:scalex(1);
}
.A{
    position:absolute;
    top:72%;
    left:60%;
    transform:translate(-875%,-1000%);
    text-align: center;
}
.btn{
    background:none;
    border:2px solid #000;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    padding:2px 4px;
    cursor: pointer;
    transition:colour 0.4s linear;
    position:relative;
    font-size: medium;
}

.btn:hover{
    color:#fff;

}
.btn::before{
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:#000;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
.btn1::before{
    transform:scalex(0);
}
.btn1:hover::before{
    transform:scalex(1);
}
.B{
        position:absolute;
        top:70%;
        left:60%;
        transform:translate(-800%,-200%);
        text-align: center;

}
.C{
    position:absolute;
    top:86%;
    right:80%;
    transform:translate(-100%,-60%);
    text-align: center;

}
.C1{
    position:absolute;
    top:92%;
    right:86%;
    transform:translate(-100%,-60%);
    text-align: center;

}

.D{
    position:absolute;
    top:112%;
    right:48%;
    transform:translate(-1000%,-6%);
    text-align: center;

}
.F{
    position:absolute;
    bottom:53%;
    right:56%;
    transform:translate(-60%,-60%);
    text-align: center;

}
.F1{
    position:absolute;
    bottom:53%;
    right:60.5%;
    transform:translate(-60%,-60%);
    text-align: center;

}
.H{
    position:absolute;
    bottom:26%;
   right:61%;
    transform:translate(-60%,-60%);
    text-align: center;

}
.K{
    position:absolute;
    bottom:0.2%;
    right:61%;
    transform:translate(-60%,-60%);
    text-align: center;
}
.R{
    position:absolute;
    bottom:53%;
    right:20%;
    transform:translate(-60%,-60%);
    text-align: center;
}
.S1{
    position:absolute;
    bottom:31%;
    right:15%;
    transform:translate(-60%,-60%);
    text-align: center;
}
.S2{
    position:absolute;
    bottom:33%;
    right:20%;
    transform:translate(-60%,-60%);
    text-align: center;
}
.S3{
    position:absolute;
    bottom:28%;
    right:19%;
    transform:translate(-60%,-60%);
    text-align: center;
}

  .image-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image-container img {
    max-width: 100%;
    max-height: 100%;
  }

  .container {
    width: 100%;
  }
  
  .left-element, .right-element {
    display: inline-block;
    width: 49%;
    vertical-align: top;
  }